@font-face {
    font-family: "Tanuki";
    font-weight: normal;
    font-style: normal;
    src: url('./Tanuki.ttf') format('truetype');
}

@font-face {
    font-family: "Cotton";
    font-weight: normal;
    font-style: normal;
    src: url('./cotton.ttf') format('truetype');
}