/* global */
* {
    margin: 0;
    padding: 0;
}


html,
body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    list-style: none;
}

.clear {
    clear: both;
}