/* global */
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;

}

html,
body {
    width: 100%;
}

a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: black;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    list-style: none;
}

.clear {
    clear: both;
}