.game {
    position: absolute;
    width: 750px;
    height: 100%;
    background-image: url("../assets/img/common/bg.jpg");
    background-repeat: repeat-y;
    background-position: 0% 0%;
    background-size: 100% auto;


    padding-top: 66px;
    text-align: center;

    .header {
        width: 100%;
        height: 140px;
        margin: 0 auto 24px auto;
        display: inline-flex;
        justify-content: space-between;
        .back_btn{
            translate: 50px;
        }
        .title {
            width: 256px;
            height: 108px;
            background-image: url("../assets/img/game/title_bg.png");
            background-repeat: no-repeat;
            background-position: 0% 0%;
            background-size: contain;

            display: flex;
            justify-content: center;
            align-items: center;


        }

        .refresh_shadow {
            width: 125px;
            height: 139px;
            background-image: url("../assets/img/common/btn_sbg.png");
            background-repeat: no-repeat;
            background-position: 0% 0%;
            background-size: contain;

            .refresh {
                width: 92px;
                height: 95px;
                background-image: url("../assets/img/common/refresh.png");
                background-repeat: no-repeat;
                background-position: 0% 0%;
                background-size: contain;
            }
        }
    }

    .beautify {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .center {
            transform: translate(0, -6%);
            .main {
                width: 680px;
                height: 618px;
                margin: 38px auto;
                display: inline-flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .piece {

                    box-sizing: border-box;
                    box-shadow: 2px 2px 24px #f3a98f;
                    margin: 3px 6px;
                    border-bottom: 8px solid #da8f43;

                    background-image: url("../assets/img/common/map.png");
                    background-repeat: no-repeat;
                    background-size: 656px 598px;
                    // background-size: 200%; //200%
                    background-origin: padding-box; //设置背景图片的位置从padding（内边距）开始放置

                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -ms-transition: 0.3s;
                    -o-transition: 0.3s;
                    transition: 0.3s;

                    .img {
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        border: 6px solid #fef1ba;
                    }
                }

                .chosen {
                    border-bottom: 8px solid #a6492b;

                    .img {
                        border: 6px solid #f38251;
                    }
                }
            }
        }
    }


}